Source: haskell-debian-repo
Maintainer: David Fox <dsf@seereason.com>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-extra-dev
               , libghc-extra-prof
               , libghc-haxml-dev
               , libghc-haxml-prof
               , libghc-listlike-dev
               , libghc-listlike-prof
               , libghc-mime-dev
               , libghc-mime-prof
               , libghc-unixutils-dev (>= 1.52.3)
               , libghc-unixutils-prof (>= 1.52.3)
               , libghc-applicative-extras-dev
               , libghc-applicative-extras-prof
               , libghc-bzlib-dev
               , libghc-bzlib-prof
               , libghc-cabal-debian-dev (>= 4.5)
               , libghc-cabal-debian-prof (>= 4.5)
               , libghc-data-lens-dev
               , libghc-data-lens-prof
               , libghc-data-lens-template-dev
               , libghc-data-lens-template-prof
               , libghc-debian-dev (>= 3.84)
               , libghc-debian-prof (>= 3.84)
               , libghc-exceptions-dev (>= 0.6)
               , libghc-exceptions-prof (>= 0.6)
               , libghc-mtl-dev
               , libghc-mtl-prof
               , libghc-network-uri-dev
               , libghc-network-uri-prof
               , libghc-parsec3-dev (>= 3)
               , libghc-parsec3-prof (>= 3)
               , libghc-prettyclass-dev
               , libghc-prettyclass-prof
               , libghc-process-listlike-dev (>= 1.0) | libghc-process-extras-dev (>= 0.2.2)
               , libghc-process-listlike-prof (>= 1.0) | libghc-process-extras-prof (>= 0.2.2)
               , libghc-puremd5-dev
               , libghc-puremd5-prof
               , libghc-regex-compat-dev
               , libghc-regex-compat-prof
               , libghc-regex-tdfa-dev
               , libghc-regex-tdfa-prof
               , libghc-syb-dev
               , libghc-syb-prof
               , libghc-text-dev
               , libghc-text-prof
               , libghc-utf8-string-dev
               , libghc-utf8-string-prof
               , libghc-zlib-dev
               , libghc-zlib-prof
               , libghc-unixutils-dev
               , libghc-unixutils-prof
               , libghc-cabal-debian-dev
               , libghc-cabal-debian-prof
               , libghc-exceptions-dev
               , libghc-exceptions-prof
               , libghc-parsec3-dev (>= 3) | libghc-parsec2-dev (<< 3)
               , libghc-parsec3-prof (>= 3) | libghc-parsec2-prof (<< 3)
Build-Depends-Indep: ghc-doc
                     , libghc-extra-doc
                     , libghc-haxml-doc
                     , libghc-listlike-doc
                     , libghc-mime-doc
                     , libghc-unixutils-doc (>= 1.52.3)
                     , libghc-applicative-extras-doc
                     , libghc-bzlib-doc
                     , libghc-cabal-debian-doc (>= 4.5)
                     , libghc-data-lens-doc
                     , libghc-data-lens-template-doc
                     , libghc-debian-doc (>= 3.84)
                     , libghc-exceptions-doc (>= 0.6)
                     , libghc-mtl-doc
                     , libghc-network-uri-doc
                     , libghc-parsec3-doc (>= 3)
                     , libghc-prettyclass-doc
                     , libghc-process-listlike-doc (>= 1.0) | libghc-process-extras-doc (>= 0.2.2)
                     , libghc-puremd5-doc
                     , libghc-regex-compat-doc
                     , libghc-regex-tdfa-doc
                     , libghc-syb-doc
                     , libghc-text-doc
                     , libghc-utf8-string-doc
                     , libghc-zlib-doc
X-Description: Modules for working with Debian repositories
 This library includes modules covering the management of Debian
 package repositories, local caches of remote debian repositories,
 and Debian build environments.

Package: libghc-debian-repo-dev
Architecture: any
Depends: ${haskell:Depends}
         , ${misc:Depends}
         , ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
  ${haskell:LongDescription}
  .
  ${haskell:Blurb}

Package: libghc-debian-repo-prof
Architecture: any
Depends: ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
  ${haskell:LongDescription}
  .
  ${haskell:Blurb}

Package: libghc-debian-repo-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
  ${haskell:LongDescription}
  .
  ${haskell:Blurb}

Package: newdist
Replaces: autobuilder-newdist
Conflicts: autobuilder-newdist
Section: devel
Architecture: any
Depends: ${haskell:Depends}
         , ${misc:Depends}
         , dpkg-dev
Suggests: seereason-keyring
Description: Debian pool manager
